@import url('./font-faces.css');

:root {
  --font-abinet: 'Abinet', sans-serif;
  --font-addis: 'ADDIS', sans-serif;
  --font-addisababa: 'AddisAbaba', sans-serif;
  --font-addisu: 'Addisu', sans-serif;
  --font-adwa-wendie: 'Adwa Wendie', sans-serif;
  --font-adwa-bold: 'Adwa-Bold', sans-serif;
  --font-adwa-regular: 'Adwa-Regular', sans-serif;
  --font-adwasansserif-bold: 'AdwaSansSerif-Bold', sans-serif;
  --font-adwasansserif-regular: 'AdwaSansSerif-Regular', sans-serif;
  --font-anbassa: 'Anbassa', sans-serif;
  --font-arada: 'Arada', sans-serif;
  --font-chiret-regular: 'Chiret-Regular', sans-serif;
  --font-desta: 'DESTA', sans-serif;
  --font-ebrima-2: 'EBRIMA 2', sans-serif;
  --font-entoto: 'Entoto', sans-serif;
  --font-ethiopic-abay-light: 'Ethiopic Abay Light', sans-serif;
  --font-ethiopic-abay-regular: 'Ethiopic Abay Regular', sans-serif;
  --font-ethiopic-fantwua: 'ETHIOPIC FANTWUA', sans-serif;
  --font-ethiopic-lessan-light: 'Ethiopic Lessan Light', sans-serif;
  --font-ethiopic-lessan-regular: 'Ethiopic Lessan Regular', sans-serif;
  --font-ethiopic-sadiss-light: 'Ethiopic Sadiss Light', sans-serif;
  --font-ethiopic-sadiss-regular: 'Ethiopic Sadiss Regular', sans-serif;
  --font-fantuwa: 'Fantuwa', sans-serif;
  --font-geezmahtem: 'GeezMahtem', sans-serif;
  --font-geeztypenet: 'GeezTypeNet', sans-serif;
  --font-godana-regular: 'Godana-Regular', sans-serif;
  --font-goffer: 'Goffer', sans-serif;
  --font-habesha-stencil: 'Habesha STENCIL', sans-serif;
  --font-habeshapixels-bold: 'HABESHAPIXELS-Bold', sans-serif;
  --font-habeshapixels: 'HABESHAPIXELS', sans-serif;
  --font-hiwua: 'Hiwua', sans-serif;
  --font-jiret: 'Jiret', sans-serif;
  --font-kefa: 'Kefa', sans-serif;
  --font-kiros: 'KIROS', sans-serif;
  --font-meaza: 'Meaza', sans-serif;
  --font-menilik: 'Menilik', sans-serif;
  --font-mulat-abay-2: 'mulat abay (2)', sans-serif;
  --font-mulat-abay-2-1: 'mulat abay 2 (1)', sans-serif;
  --font-mulat-abay-2-2: 'mulat abay 2 (2)', sans-serif;
  --font-mulatabay-bold: 'MulatAbay-Bold', sans-serif;
  --font-mulatabay-bolditalic: 'MulatAbay-BoldItalic', sans-serif;
  --font-mulatabay-regular: 'MulatAbay-Regular', sans-serif;
  --font-mulatabay-regularitalic: 'MulatAbay-RegularItalic', sans-serif;
  --font-mulatabay-thin: 'MulatAbay-Thin', sans-serif;
  --font-mulatabay-thinitalic: 'MulatAbay-ThinItalic', sans-serif;
  --font-mulataddis-regular: 'MulatAddis-Regular', sans-serif;
  --font-mulatahmed-regular: 'MulatAhmed-Regular', sans-serif;
  --font-mulatawash-regular: 'MulatAwash-Regular', sans-serif;
  --font-neteru: 'Neteru', sans-serif;
  --font-niyala: 'Niyala', sans-serif;
  --font-nokia-pureheadline-bold: 'Nokia Pureheadline Bold', sans-serif;
  --font-nokia-pureheadline-light: 'Nokia Pureheadline Light', sans-serif;
  --font-notosansethiopic-black: 'NotoSansEthiopic-Black', sans-serif;
  --font-notosansethiopic-bold: 'NotoSansEthiopic-Bold', sans-serif;
  --font-notosansethiopic-condensed: 'NotoSansEthiopic-Condensed', sans-serif;
  --font-notosansethiopic-condensedblack: 'NotoSansEthiopic-CondensedBlack', sans-serif;
  --font-notosansethiopic-condensedbold: 'NotoSansEthiopic-CondensedBold', sans-serif;
  --font-notosansethiopic-condensedextrabold: 'NotoSansEthiopic-CondensedExtraBold', sans-serif;
  --font-notosansethiopic-condensedextralight: 'NotoSansEthiopic-CondensedExtraLight', sans-serif;
  --font-notosansethiopic-condensedlight: 'NotoSansEthiopic-CondensedLight', sans-serif;
  --font-notosansethiopic-condensedmedium: 'NotoSansEthiopic-CondensedMedium', sans-serif;
  --font-notosansethiopic-condensedsemibold: 'NotoSansEthiopic-CondensedSemiBold', sans-serif;
  --font-notosansethiopic-condensedthin: 'NotoSansEthiopic-CondensedThin', sans-serif;
  --font-notosansethiopic-extrabold: 'NotoSansEthiopic-ExtraBold', sans-serif;
  --font-notosansethiopic-extracondensed: 'NotoSansEthiopic-ExtraCondensed', sans-serif;
  --font-notosansethiopic-extracondensedblack: 'NotoSansEthiopic-ExtraCondensedBlack', sans-serif;
  --font-notosansethiopic-extracondensedbold: 'NotoSansEthiopic-ExtraCondensedBold', sans-serif;
  --font-notosansethiopic-extracondensedextrabold: 'NotoSansEthiopic-ExtraCondensedExtraBold', sans-serif;
  --font-notosansethiopic-extracondensedextralight: 'NotoSansEthiopic-ExtraCondensedExtraLight', sans-serif;
  --font-notosansethiopic-extracondensedlight: 'NotoSansEthiopic-ExtraCondensedLight', sans-serif;
  --font-notosansethiopic-extracondensedmedium: 'NotoSansEthiopic-ExtraCondensedMedium', sans-serif;
  --font-notosansethiopic-extracondensedsemibold: 'NotoSansEthiopic-ExtraCondensedSemiBold', sans-serif;
  --font-notosansethiopic-extracondensedthin: 'NotoSansEthiopic-ExtraCondensedThin', sans-serif;
  --font-notosansethiopic-extralight: 'NotoSansEthiopic-ExtraLight', sans-serif;
  --font-notosansethiopic-light: 'NotoSansEthiopic-Light', sans-serif;
  --font-notosansethiopic-medium: 'NotoSansEthiopic-Medium', sans-serif;
  --font-notosansethiopic-regular: 'NotoSansEthiopic-Regular', sans-serif;
  --font-notosansethiopic-semibold: 'NotoSansEthiopic-SemiBold', sans-serif;
  --font-notosansethiopic-semicondensed: 'NotoSansEthiopic-SemiCondensed', sans-serif;
  --font-notosansethiopic-semicondensedblack: 'NotoSansEthiopic-SemiCondensedBlack', sans-serif;
  --font-notosansethiopic-semicondensedbold: 'NotoSansEthiopic-SemiCondensedBold', sans-serif;
  --font-notosansethiopic-semicondensedextrabold: 'NotoSansEthiopic-SemiCondensedExtraBold', sans-serif;
  --font-notosansethiopic-semicondensedextralight: 'NotoSansEthiopic-SemiCondensedExtraLight', sans-serif;
  --font-notosansethiopic-semicondensedlight: 'NotoSansEthiopic-SemiCondensedLight', sans-serif;
  --font-notosansethiopic-semicondensedmedium: 'NotoSansEthiopic-SemiCondensedMedium', sans-serif;
  --font-notosansethiopic-semicondensedsemibold: 'NotoSansEthiopic-SemiCondensedSemiBold', sans-serif;
  --font-notosansethiopic-semicondensedthin: 'NotoSansEthiopic-SemiCondensedThin', sans-serif;
  --font-notosansethiopic-thin: 'NotoSansEthiopic-Thin', sans-serif;
  --font-notoserifethiopic-black: 'NotoSerifEthiopic-Black', sans-serif;
  --font-notoserifethiopic-bold: 'NotoSerifEthiopic-Bold', sans-serif;
  --font-notoserifethiopic-condensed: 'NotoSerifEthiopic-Condensed', sans-serif;
  --font-notoserifethiopic-condensedblack: 'NotoSerifEthiopic-CondensedBlack', sans-serif;
  --font-notoserifethiopic-condensedbold: 'NotoSerifEthiopic-CondensedBold', sans-serif;
  --font-notoserifethiopic-condensedextrabold: 'NotoSerifEthiopic-CondensedExtraBold', sans-serif;
  --font-notoserifethiopic-condensedextralight: 'NotoSerifEthiopic-CondensedExtraLight', sans-serif;
  --font-notoserifethiopic-condensedlight: 'NotoSerifEthiopic-CondensedLight', sans-serif;
  --font-notoserifethiopic-condensedmedium: 'NotoSerifEthiopic-CondensedMedium', sans-serif;
  --font-notoserifethiopic-condensedsemibold: 'NotoSerifEthiopic-CondensedSemiBold', sans-serif;
  --font-notoserifethiopic-condensedthin: 'NotoSerifEthiopic-CondensedThin', sans-serif;
  --font-notoserifethiopic-extrabold: 'NotoSerifEthiopic-ExtraBold', sans-serif;
  --font-notoserifethiopic-extracondensed: 'NotoSerifEthiopic-ExtraCondensed', sans-serif;
  --font-notoserifethiopic-extracondensedblack: 'NotoSerifEthiopic-ExtraCondensedBlack', sans-serif;
  --font-notoserifethiopic-extracondensedbold: 'NotoSerifEthiopic-ExtraCondensedBold', sans-serif;
  --font-notoserifethiopic-extracondensedextrabold: 'NotoSerifEthiopic-ExtraCondensedExtraBold', sans-serif;
  --font-notoserifethiopic-extracondensedextralight: 'NotoSerifEthiopic-ExtraCondensedExtraLight', sans-serif;
  --font-notoserifethiopic-extracondensedlight: 'NotoSerifEthiopic-ExtraCondensedLight', sans-serif;
  --font-notoserifethiopic-extracondensedmedium: 'NotoSerifEthiopic-ExtraCondensedMedium', sans-serif;
  --font-notoserifethiopic-extracondensedsemibold: 'NotoSerifEthiopic-ExtraCondensedSemiBold', sans-serif;
  --font-notoserifethiopic-extracondensedthin: 'NotoSerifEthiopic-ExtraCondensedThin', sans-serif;
  --font-notoserifethiopic-extralight: 'NotoSerifEthiopic-ExtraLight', sans-serif;
  --font-notoserifethiopic-light: 'NotoSerifEthiopic-Light', sans-serif;
  --font-notoserifethiopic-medium: 'NotoSerifEthiopic-Medium', sans-serif;
  --font-notoserifethiopic-regular: 'NotoSerifEthiopic-Regular', sans-serif;
  --font-notoserifethiopic-semibold: 'NotoSerifEthiopic-SemiBold', sans-serif;
  --font-notoserifethiopic-semicondensed: 'NotoSerifEthiopic-SemiCondensed', sans-serif;
  --font-notoserifethiopic-semicondensedblack: 'NotoSerifEthiopic-SemiCondensedBlack', sans-serif;
  --font-notoserifethiopic-semicondensedbold: 'NotoSerifEthiopic-SemiCondensedBold', sans-serif;
  --font-notoserifethiopic-semicondensedextrabold: 'NotoSerifEthiopic-SemiCondensedExtraBold', sans-serif;
  --font-notoserifethiopic-semicondensedextralight: 'NotoSerifEthiopic-SemiCondensedExtraLight', sans-serif;
  --font-notoserifethiopic-semicondensedlight: 'NotoSerifEthiopic-SemiCondensedLight', sans-serif;
  --font-notoserifethiopic-semicondensedmedium: 'NotoSerifEthiopic-SemiCondensedMedium', sans-serif;
  --font-notoserifethiopic-semicondensedsemibold: 'NotoSerifEthiopic-SemiCondensedSemiBold', sans-serif;
  --font-notoserifethiopic-semicondensedthin: 'NotoSerifEthiopic-SemiCondensedThin', sans-serif;
  --font-notoserifethiopic-thin: 'NotoSerifEthiopic-Thin', sans-serif;
  --font-sabaean: 'sabaean', sans-serif;
  --font-seat: 'Seat', sans-serif;
  --font-shiromeda-bold: 'Shiromeda-Bold', sans-serif;
  --font-shiromeda-regular: 'Shiromeda-Regular', sans-serif;
  --font-shiromeda-semibold: 'Shiromeda-SemiBold', sans-serif;
  --font-shiromedaserif-bold: 'ShiromedaSerif-Bold', sans-serif;
  --font-shiromedaserif-regular: 'ShiromedaSerif-Regular', sans-serif;
  --font-shiromedaserif-semibold: 'ShiromedaSerif-SemiBold', sans-serif;
  --font-tayitu: 'Tayitu', sans-serif;
  --font-tera-regular: 'Tera-Regular', sans-serif;
  --font-tera: 'Tera', sans-serif;
  --font-tint: 'tint', sans-serif;
  --font-washera-bold: 'Washera Bold', sans-serif;
  --font-washera-regular: 'Washera Regular', sans-serif;
  --font-wukiyanos: 'Wukiyanos', sans-serif;
  --font-yebs: 'Yebs', sans-serif;
  --font-yigezu-bisrat: 'Yigezu Bisrat', sans-serif;
  --font-zelan: 'Zelan', sans-serif;
}
